@import "tailwindcss";
@plugin "daisyui";



body{
    background-image: url(../public/download\ \(2\).jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

