@import "tailwindcss";
@plugin "daisyui";



body{
    background-image: url(../public/Gemini_Generated_Image_s3aj8ss3aj8ss3aj.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

